 body {
  font-family: 'Arial', sans-serif;
  background-color: #988f7c;
  background-image: linear-gradient(rgba(106, 102, 94, 0.478), rgba(0, 0, 0, 0.6));
  font-family: 'Times', sans-serif;
  margin: 0;
}

#fees{
  text-align: center;
 margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
}
#feesparagraph{
  text-align: center;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'Playfair Display', serif;
  color: white;
  
}
#feespicture{
width: 90%;
height: 550px;
 display: block;
 margin-left: auto;
  margin-right: auto;

}

.packages{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}
.boxes{
  width: 25%;
  border: 3px solid;
  border-color: wheat;
  color:white;
 margin: 300px;
  height: 500px;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}
h2{
  text-align: center;
}



@media screen and (max-width:450px) {
  #feesparagraph {
    margin-left: 44px;
    margin-right: 44px;
}
.boxes {
  width: 80%;
  margin-bottom: 8px;
  font-size: 12px;
}
#feespicture {
  width: 100%;
  height: 350px;
 
}

 

}

@media screen and (min-width:451px) {
.packages{
  width: 100%;
}
.boxes {
  height: 520px;
}
#feespicture {
  width: 100%;
  height: 550px;
 
}

} 