
footer {
    font-family: 'Times', sans-serif;
    background-color:transparent;
    color:rgb(228, 218, 200);
    padding: 30px;
    text-align: center;
    position:fixed;
    padding-left: 70px;
    width: 90%;
    height: 50%;
    align-items: center;
}

@media screen and (max-width: 768px) {
    footer {
        align-items: center;
        width: 100%;
        padding-left:0px;
        
    }
}
